body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f7f7f7;
    color: #333;
}

h1 {
    color: #007bff;
}
#publicationInput {
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

#pubButton {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#pubButton:hover {
    background-color: #0056b3;
}

/* Section for Publications */
#publication {
    margin-top: 20px;
    width: 51%;
}

/* Publication Styles */
.publication {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.publication p {
    font-size: 16px;
    margin: 0 0 10px;
}

/* Comment Input and Button */
.commentInput {
    width: 50%;
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.commentSection {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    margin-top: 10px;
}

.addCommentButton {
    display: block;
    margin: 10px auto 0; /* Center-align button and add margin */
    padding: 10px 15px;
    font-size: 14px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.addCommentButton:hover {
    background-color: #218838;
}

/* Comment Styles */
.comment {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
